{% extends "base.html" %}
{% block addcss %}
<link href="/static/css/auth_common.css" rel="stylesheet" type="text/css" media="screen" />
{% endblock %}
{% block content %}
<div id="content_inner">
  <div class="wrapper">
    <h1>Восстановление пароля</h1>
    <p>Забыли пароль? Введите свой адрес электронной почты ниже, и мы вышлем вам инструкцию, как установить новый пароль.</p>
    <form class="content_form invite_request" method="post" action="{% url auth_password_reset %}" id="aguForm-Reset">
      {% csrf_token %}
      <dl>
        <dd><label class="onleft" for="id_email">Эл. почта:</label> <input id="id_email" type="text" name="email" class="text" maxlength="75" /></dd>
        <dd class="submit"><div class="inline-block"><input type="submit" class="aguTextButton agu-corner-all-16px" value="Восстановить мой пароль" /></div></dd>
      </dl>
    </form>
  </div>
</div>
{% endblock %}
